body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

h1 {
    font-size: 42px;
    margin-bottom: 5px;
}

h2 {
    margin-top: 40px;
    color: #38bdf8;
}

p {
    color: #94a3b8;
    font-size: 18px;
}

/* container */
body {
    text-align: center;
    padding: 50px 20px;
}

/* section spacing */
hr {
    margin: 30px auto;
    width: 60%;
    border: 1px solid #1e293b;
}