body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    background: linear-gradient(135deg, #0f172a, #1e293b);
}

/* Header */
header {
    text-align: center;
    padding: 80px 20px;
}

h1 {
    font-size: 50px;
}

h2 {
    margin-top: 40px;
    color: #38bdf8;
}

section {
    padding: 40px 20px;
    text-align: center;
}

/* Buttons */
.buttons a {
    margin: 10px;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.buttons a:hover {
    background: #0ea5e9;
}

/* Skills */
.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.skills span {
    background: #1e293b;
    padding: 10px 15px;
    border-radius: 20px;
}

/* Projects */
.projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project {
    background: #1e293b;
    padding: 20px;
    width: 260px;
    border-radius: 10px;
    transition: 0.3s;
}

.project:hover {
    transform: scale(1.05);
}

/* Buttons */
button {
    background: #38bdf8;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #0ea5e9;
}

p {
    color: #cbd5f5;
}
